background-transparency(color, alpha = 1)
   ms-color = argb(color, alpha)
   background rgb(color)
   background rgba(color, alpha)
   .lt-ie8 &
      zoom 1
   .lt-ie9 &
      background transparent
      filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color)
      &:nth-child(n)
         filter none

hex(decimal)
   hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
   unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])

background-gradient(startColor = #555, endColor = #333)
   background-color: mix(startColor, endColor, 60%)
   background-image: -moz-linear-gradient(top, startColor, endColor) // FF 3.6+
   background-image: -ms-linear-gradient(top, startColor, endColor) // IE10
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(startColor), to(endColor)) // Safari 4+, Chrome 2+
   background-image: -webkit-linear-gradient(top, startColor, endColor) // Safari 5.1+, Chrome 10+
   background-image: -o-linear-gradient(top, startColor, endColor) // Opera 11.10
   background-image: linear-gradient(top, startColor, endColor) // The standard
   background-repeat: repeat-x
   filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', argb(startColor), argb(endColor))

background-gray-gloss()
   background: rgb(237,237,237) /* Old browsers */
   background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(214,214,214,1) 50%, rgba(206,206,206,1) 52%, rgba(224,224,224,1) 100%) /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(50%,rgba(214,214,214,1)), color-stop(52%,rgba(206,206,206,1)), color-stop(100%,rgba(224,224,224,1))) /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 50%,rgba(206,206,206,1) 52%,rgba(224,224,224,1) 100%) /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 50%,rgba(206,206,206,1) 52%,rgba(224,224,224,1) 100%) /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 50%,rgba(206,206,206,1) 52%,rgba(224,224,224,1) 100%) /* IE10+ */
   background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 50%,rgba(206,206,206,1) 52%,rgba(224,224,224,1) 100%) /* W3C */

background-green-gloss()
   // background: rgb(196,252,198)
   // background: -moz-linear-gradient(top, rgba(196,252,198,1) 0%, rgba(40,214,43,1) 50%, rgba(32,201,49,1) 52%, rgba(125,229,123,1) 100%)
   // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,252,198,1)), color-stop(50%,rgba(40,214,43,1)), color-stop(52%,rgba(32,201,49,1)), color-stop(100%,rgba(125,229,123,1)))
   // background: -webkit-linear-gradient(top, rgba(196,252,198,1) 0%,rgba(40,214,43,1) 50%,rgba(32,201,49,1) 52%,rgba(125,229,123,1) 100%)
   // background: -o-linear-gradient(top, rgba(196,252,198,1) 0%,rgba(40,214,43,1) 50%,rgba(32,201,49,1) 52%,rgba(125,229,123,1) 100%)
   // background: -ms-linear-gradient(top, rgba(196,252,198,1) 0%,rgba(40,214,43,1) 50%,rgba(32,201,49,1) 52%,rgba(125,229,123,1) 100%)
   // background: linear-gradient(to bottom, rgba(196,252,198,1) 0%,rgba(40,214,43,1) 50%,rgba(32,201,49,1) 52%,rgba(125,229,123,1) 100%)
   background: rgb(33,165,3)
   background: -moz-linear-gradient(top, rgba(33,165,3,1) 0%, rgba(23,140,2,1) 45%, rgba(11,89,0,1) 100%)
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,165,3,1)), color-stop(45%,rgba(23,140,2,1)), color-stop(100%,rgba(11,89,0,1)))
   background: -webkit-linear-gradient(top, rgba(33,165,3,1) 0%,rgba(23,140,2,1) 45%,rgba(11,89,0,1) 100%)
   background: -o-linear-gradient(top, rgba(33,165,3,1) 0%,rgba(23,140,2,1) 45%,rgba(11,89,0,1) 100%)
   background: -ms-linear-gradient(top, rgba(33,165,3,1) 0%,rgba(23,140,2,1) 45%,rgba(11,89,0,1) 100%)
   background: linear-gradient(to bottom, rgba(33,165,3,1) 0%,rgba(23,140,2,1) 45%,rgba(11,89,0,1) 100%)

background-red-gloss()
   background: rgb(249,194,194)
   // background: -moz-linear-gradient(top, rgba(249,194,194,1) 0%, rgba(211,60,40,1) 50%, rgba(198,34,31,1) 52%, rgba(211,114,103,1) 100%)
   // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,194,194,1)), color-stop(50%,rgba(211,60,40,1)), color-stop(52%,rgba(198,34,31,1)), color-stop(100%,rgba(211,114,103,1)))
   // background: -webkit-linear-gradient(top, rgba(249,194,194,1) 0%,rgba(211,60,40,1) 50%,rgba(198,34,31,1) 52%,rgba(211,114,103,1) 100%)
   // background: -o-linear-gradient(top, rgba(249,194,194,1) 0%,rgba(211,60,40,1) 50%,rgba(198,34,31,1) 52%,rgba(211,114,103,1) 100%)
   // background: -ms-linear-gradient(top, rgba(249,194,194,1) 0%,rgba(211,60,40,1) 50%,rgba(198,34,31,1) 52%,rgba(211,114,103,1) 100%)
   // background: linear-gradient(to bottom, rgba(249,194,194,1) 0%,rgba(211,60,40,1) 50%,rgba(198,34,31,1) 52%,rgba(211,114,103,1) 100%)
   background: rgb(168,3,3)
   background: -moz-linear-gradient(top, rgba(168,3,3,1) 0%, rgba(142,2,2,1) 45%, rgba(107,0,0,1) 100%)
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,3,3,1)), color-stop(45%,rgba(142,2,2,1)), color-stop(100%,rgba(107,0,0,1)))
   background: -webkit-linear-gradient(top, rgba(168,3,3,1) 0%,rgba(142,2,2,1) 45%,rgba(107,0,0,1) 100%)
   background: -o-linear-gradient(top, rgba(168,3,3,1) 0%,rgba(142,2,2,1) 45%,rgba(107,0,0,1) 100%)
   background: -ms-linear-gradient(top, rgba(168,3,3,1) 0%,rgba(142,2,2,1) 45%,rgba(107,0,0,1) 100%)
   background: linear-gradient(to bottom, rgba(168,3,3,1) 0%,rgba(142,2,2,1) 45%,rgba(107,0,0,1) 100%)

dropshadow()
   -moz-box-shadow: arguments
   -webkit-box-shadow: arguments
   box-shadow: arguments

border-radius(radius)
   -webkit-border-radius: radius
   -moz-border-radius: radius
   border-radius: radius