extends layout

block prepend scripts
   script(type="text/javascript")
      window.sf = { lat: #{lat}, lng: #{lng}, active: #{active} };

block append scripts
   != js("pages/home")

block header-nav  
   ul.nav
      li.nav-item
         a#about-button(data-bind="click: showHideAbout, text: about_text") About

block body
   #map
   #inactive-cover(data-bind="fadeIn: sf_inactive, duration: 500")
      #message-wrap
         span#sad-face :(
         span#message Sorry everybody, but right now we are closed
   #about-wrap 
      #about(data-bind="slideDown: show_about, duration: 500")
         .inner
            .logo
               img(src="/images/logo@2x.png", alt="Simply Franks", width="286px", height="105px")

            h2 About Us

            p
               | We, at Simply Franks Company, are dedicated to bring Lawrence the finest 100% all beef hot dogs.
               | Our quarter pound franks, topped with Ed's Famous Sauce, is sure to cure any hungry appetite.
            p   
               | Our convienient hours make sure that you can still fill your stomach- even after everybody else has closed down for the night.
               | Come and see us in Lawrence, KS around The Hawk. Posted hours may change. Frank You Very Much!

            h2 Hours

            ul
               li Mon 11:30am - 7:30pm
               li Tue 11:30am - 7:30pm
               li Wed 11:30am - 4:00pm & 8:30pm - 4am
               li Thurs 8:30pm - 4am
               li Fri 1:00pm - 4am
               li Sat 3:00pm - 4am
               li Sun CLOSED

            h2 Contact Information

            p
               | For all inquiries including CATERING please contact:<br/>
               | Jordan Kivett<br/>
               | (913) 231-1496 or via email at <a href="mailto:simplyfranksco@gmail.com">simplyfranksco@gmail.com</a>
               

block footer
   span.distance(data-bind="html: user_distance_text")