extends layout

block prepend scripts
   script(type="text/javascript")
      window.sf = { lat: #{lat}, lng: #{lng}, active: #{active} };

block append scripts
   != js("pages/home")

block body
   #map
   #inactive-cover(data-bind="fadeIn: sf_inactive, duration: 500")
      #message-wrap
         span#sad-face :(
         span#message Not currently operating

block footer
   span.distance(data-bind="html: user_distance_text")