doctype 5
html
   head
      title Simply Franks
   
      block styles
         != css("lib/normalize")
         != css("skin")
         != css("pages/home")
         != css("pages/admin")
         != css("pages/login")

      block scripts
         != js("lib/jquery-1.8.1")
         != js("lib/knockout")
         script(src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false", type="text/javascript")
         script(src="/socket.io/socket.io.js")

   - var viewDir = locals.root
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "").replace(/^[\\\/]/g, "");
   - var viewClass = view.replace(/[\\\/]/g, "-");
   body(class=viewClass)
      
      #header
         //- ul.nav
         //-    a.nav-item
         //-       | About

      block body

      #footer
         block footer