extends layout

block body
   form(action="/login", method="post")
      input(type="text", name="username").username
      input(type="text", name="password").password
      input(type="submit").login-button
         span Login