extends layout

block body
   form(action="/login", method="post")
      #username-wrap
         input(type="text", name="username", placeholder="Username").text.username
      #password-wrap
         input(type="password", name="password", placeholder="Password").text.password
      
      #login-wrap
         button(type="submit").login-button
            span Login