extends layout

block body
   form(action="/login", method="post")
      input(type="text", name="username", placeholder="Username").username
      input(type="text", name="password", placeholder="Password").password
      input(type="submit").login-button
         span Login