@import "lib/variables"
@import "lib/mixins"

// *********************************************
// CLASSES
// *********************************************

// *********************************************
// STRUCTURE
// *********************************************
html
   height: 100%
body
   position: relative
   margin 0 auto
   height: 100%
   min-width: 320px

// @media screen and (min-width: 644px)
//    body
//       width: 640px
//       dropshadow: 3px 0 25px #333, -3px 0 25px #333

#header
   position: relative
   height: header-height
   dropshadow: 0 1px 5px rgba(0,0,0,.4)
   z-index: 100
   background-gray-gloss: true

   #logo
      margin: 7px 0 0 8px

   .nav
      float: right

      .nav-item
         display: inline-block
         text-align: center

#footer
   position: absolute
   height: footer-height
   right: 0
   bottom: 0
   left: 0
   dropshadow: 0 -1px 4px rgba(0,0,0,.4)
   z-index: 100
   background-gray-gloss: true

   .distance
      line-height: footer-height
      color: dark-gray
      font-size: .8em
      display: block
      width: 100%
      text-align: center

      .close
         color: dark-green

      .ft, .mi
         font-weight: bold
         font-size: 1.2em

@media only screen and (-webkit-min-device-pixel-ratio: 2)
   body
      help: false