@import "lib/variables"
@import "lib/mixins"

// *********************************************
// CLASSES
// *********************************************

// *********************************************
// STRUCTURE
// *********************************************
#map
   height: 300px

@media only screen and (-webkit-min-device-pixel-ratio: 2)
   body
      help: false